<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>New Order</title>
</head>

<body>
    <form action="orders/new-order" method="post">
        <section class="product-list">
            <% for (let i=0; i < Products.length; i++) { %>
                <section>                   
                    <label for="<%= Products[i].name %>">
                        <h3>
                            <%= Products[i].name %>
                        </h3>
                        <p>
                           <img src="<%= Products[i].image %>" alt="<%= Products[i].image %>">
                        </p>
                        <p>
                            <%= Products[i].description %>
                        </p>
                        <p>
                            Price: <%= Products[i].price %>                            
                        </p>
                      
                    </label>
                    <input type="checkbox" name="<%= Products[i].name %>" id="id[]">
                </section>
                <% } %>
        </section>
        <input class="product-submit" type="submit" value="Get Tokens">
    </form>
</body>

</html>